@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

nav, footer, header, aside {
  display: block;
}

body {
  font-family: 'Montserrat', sans-serif;
}

button, a {
  cursor: pointer;
}

.header-container {
  padding: 150px 0 150px 0;
  height: 100%;
  color: #fff;
  text-align: center;
  background-image: url(../image/backgraund.jpg);
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 1212px) {
  .header-container {
    padding: 70px 0 70px 0;
  }
}

@media screen and (max-width: 992.98px) {
  .header-container {
    padding: 50px 0 50px 0;
  }
}

@media screen and (max-width: 767.98px) {
  .header-container {
    padding: 25px 0 25px 0;
  }
}

.header-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333333;
  opacity: 0.7;
  z-index: 2;
}

.header-container .header-logo {
  font-size: 48px;
  letter-spacing: 2px;
  line-height: 54px;
  margin-bottom: 50px;
  position: relative;
  z-index: 5;
}

.header-container .header-logo span {
  font-weight: 700;
}

@media screen and (max-width: 1212px) {
  .header-container .header-logo {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 992.98px) {
  .header-container .header-logo {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767.98px) {
  .header-container .header-logo {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
  }
}

.header-container .header-text {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 54px;
  position: relative;
  z-index: 5;
  text-align: center;
  text-transform: uppercase;
}

.header-container .header-text span {
  color: #00c8c8;
}

@media (max-width: 1212px) {
  .header-container .header-text {
    font-size: 25px;
    line-height: 40px;
  }
}

@media (max-width: 992.98px) {
  .header-container .header-text {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 992.98px) {
  .header-container .header-text {
    font-size: 16px;
    line-height: 20px;
  }
}

.Product-container {
  width: 70%;
  height: 100%;
  max-width: 1200px;
  padding: 20px 0 20px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 479.98px) {
  .Product-container {
    width: 90%;
  }
}

.Product-container-short {
  height: 100%;
  max-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 -10px 20px 0;
  padding: 10px 0 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1212px) {
  .Product-container-short {
    max-height: 500px;
  }
}

@media screen and (max-width: 992.98px) {
  .Product-container-short {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 10px 0;
    height: 100%;
    max-height: 100%;
  }
}

.Product-image-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  height: 100%;
  min-width: 560px;
  padding: 0 20px 0 0;
}

@media screen and (max-width: 1212px) {
  .Product-image-container {
    min-width: 400px;
    min-height: 500px;
  }
}

@media screen and (max-width: 992.98px) {
  .Product-image-container {
    min-height: 500px;
    min-width: 400px;
    padding: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 479.98px) {
  .Product-image-container {
    min-height: 380px;
    min-width: 300px;
  }
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-container input {
  display: none;
}

.product-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.product-image ul {
  width: 100%;
  height: 100%;
}

.product-image ul li {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.product-image ul li img {
  width: 100%;
  max-height: 700px;
}

.product-image ul li img:hover {
  border: 2px solid #00c8c8;
}

@media screen and (max-width: 992.98px) {
  .product-image ul li {
    max-height: 700px;
    max-width: 500px;
  }
}

@media screen and (max-width: 479.98px) {
  .product-image ul li {
    max-height: 400px;
    max-width: 300px;
  }
}

.swich1:checked ~ .product-image ul > li:first-child {
  visibility: visible;
  opacity: 1;
}

.swich2:checked ~ .product-image ul > li:nth-child(2) {
  visibility: visible;
  opacity: 1;
}

.pre, .next {
  padding: 5px 10px;
  font-size: 25px;
  color: #333333;
  position: absolute;
  margin-top: 50%;
  margin-bottom: -50%;
  margin-left: 0;
  margin-left: 0;
  cursor: pointer;
}

.pre:hover, .next:hover {
  background-color: #00c8c8;
  color: #fff;
}

.pre {
  left: 0;
}

.next {
  right: 0;
}

.Product-details-container {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  min-width: 500px;
  padding: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #8e8c8c;
}

@media screen and (max-width: 1212px) {
  .Product-details-container {
    min-width: 400px;
  }
}

@media screen and (max-width: 992.98px) {
  .Product-details-container {
    min-width: 250px;
    max-width: 400px;
    padding: 0;
  }
}

.Product-title {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  margin-bottom: 20px;
}

@media screen and (max-width: 1212px) {
  .Product-title {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 479.98px) {
  .Product-title {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
  }
}

.Product-reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 30px;
}

.Product-reviews-container a {
  cursor: pointer;
}

@media screen and (max-width: 1212px) {
  .Product-reviews-container {
    font-size: 10px;
    margin-bottom: 10px;
  }
}

.Product-rating {
  font-size: 16px;
}

@media screen and (max-width: 1212px) {
  .Product-rating {
    font-size: 10px;
  }
}

.Product-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.Product-reviews a {
  color: #8e8c8c;
}

.Product-reviews a:hover {
  color: #00c8c8;
}

.Product-reviews ul {
  margin-left: 10px;
}

.Product-reviews ul li {
  display: inline-block;
  margin-right: 5px;
}

.Product-reviews ul li:last-child {
  margin-right: 0;
}

.Product-priсe {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 36px;
  margin-bottom: 30px;
}

.Product-priсe p {
  display: inline-block;
  margin-right: 10px;
}

.Product-priсe p i {
  vertical-align: super;
  font-size: 20px;
}

@media screen and (max-width: 1212px) {
  .Product-priсe p i {
    font-size: 15px;
  }
}

.Product-priсe .Product-old-priсe {
  text-decoration: line-through;
}

@media screen and (max-width: 1212px) {
  .Product-priсe {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
  }
}

.Product-details-store {
  margin-bottom: 30px;
}

.Product-details-store .Product-details-store-item {
  font-size: 15px;
  line-height: 30px;
  word-spacing: 2px;
}

@media screen and (max-width: 1212px) {
  .Product-details-store .Product-details-store-item {
    line-height: 20px;
    font-size: 12px;
  }
}

.Product-details-store .Product-details-store-item span {
  color: #333333;
  font-weight: 700;
}

.Product-details-store .Product-details-store-item a {
  color: #00c8c8;
  font-weight: 700;
}

@media screen and (max-width: 1212px) {
  .Product-details-store {
    margin-bottom: 15px;
  }
}

.Product-details-text {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1212px) {
  .Product-details-text {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 10px;
  }
}

.Product-details-text p {
  text-align: justify;
  margin-bottom: 5px;
}

.Product-details-text ul {
  list-style: disc inside;
}

.Product-details-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1212px) {
  .Product-details-options {
    margin-bottom: 15px;
  }
}

.Product-options {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Product-options label {
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
  font-size: 15px;
}

@media screen and (max-width: 1212px) {
  .Product-options label {
    font-size: 10px;
  }
}

.Product-options input {
  padding: 10px 0 10px 10px;
  margin-top: 10px;
  max-width: 170px;
  width: 100%;
  border: 1px solid #8e8c8c;
}

@media screen and (max-width: 1212px) {
  .Product-options input {
    padding: 5px;
  }
}

.Product-options input .qty {
  max-width: 70px;
}

.Product-options input:placeholder {
  font-size: 13px;
  font-family: inherit;
  padding-left: 10px;
}

.Product-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.Product-button-container .Product-button .fa {
  margin-right: 5px;
}

.Product-button-container .Product-button .Product-button-item {
  display: inline-block;
  padding: 20px 30px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  border: 2px solid #333333;
  color: #333333;
  background-color: #fff;
}

@media screen and (max-width: 1212px) {
  .Product-button-container .Product-button .Product-button-item {
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 1px;
    border: 1px solid #333333;
  }
}

@media screen and (max-width: 479.98px) {
  .Product-button-container .Product-button .Product-button-item {
    padding: 10px 5px;
    font-size: 10px;
  }
}

.Product-button-container .Product-button .Product-button-item:hover {
  color: #ffffff;
  background-color: #333333;
}

.Product-button-container .Product-button .Product-button-item--comper {
  display: inline-block;
  padding: 15px 0;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 1212px) {
  .Product-button-container .Product-button .Product-button-item--comper {
    font-size: 12px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 479.98px) {
  .Product-button-container .Product-button .Product-button-item--comper {
    padding: 10px 0;
    font-size: 10px;
  }
}

.Product-button-container .Product-button .Product-button-item--comper .fa-compress-alt {
  background-color: #8e8c8c;
  border: 6px solid #8e8c8c;
  border-radius: 100%;
  color: #ffffff;
  font-weight: 700;
}

@media screen and (max-width: 479.98px) {
  .Product-button-container .Product-button .Product-button-item--comper .fa-compress-alt {
    border: 4px solid #8e8c8c;
  }
}
