* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

nav, footer, header, aside {
  display: block;
}

body {
  font-family: 'Montserrat', sans-serif;
}

footer {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 1212px) {
  .container {
    max-width: 992.98px;
  }
}

@media screen and (max-width: 992.98px) {
  .container {
    max-width: 767.98px;
  }
}

@media screen and (max-width: 767.98px) {
  .container {
    max-width: 479.98px;
  }
}

@media screen and (max-width: 479.98px) {
  .container {
    max-width: 318px;
  }
}

.footer-top {
  background-color: #f8f8f8;
  padding: 50px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992.98px) {
  .footer-top {
    padding: 20px 0 20px 0;
  }
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

@media screen and (max-width: 1212px) {
  .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-info {
    margin-bottom: 20px;
  }
}

.footer-info-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 90px 20px 0;
}

.footer-info-column:last-child {
  margin: 0 0 20px 0;
}

@media screen and (max-width: 1212px) {
  .footer-info-column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 20px 0;
  }
}

.footer-info-column .footer-info-title {
  color: #333333;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 1212px) {
  .footer-info-column .footer-info-title {
    margin-bottom: 5px;
  }
}

.footer-info-column .footer-info-list {
  font-size: 14px;
  line-height: 30px;
  color: #8e8c8c;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: start;
}

@media screen and (max-width: 1212px) {
  .footer-info-column .footer-info-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
}

@media screen and (max-width: 479.98px) {
  .footer-info-column .footer-info-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-info-column .footer-info-list a {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}

@media screen and (max-width: 1212px) {
  .footer-info-column .footer-info-list a {
    margin: 0 15px 0 15px;
  }
}

.footer-info-column .footer-info-list p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.footer-info-column--cont {
  max-width: 230px;
}

@media screen and (max-width: 1212px) {
  .footer-info-column--cont {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-info-column--cont p {
    max-width: 230px;
    margin: 0 15px 0 15px;
    text-align: justify;
  }
}

.footer-button {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-button-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
  padding: 60px 0 60px 0;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}

@media screen and (max-width: 1212px) {
  .footer-button-column {
    padding: 40px 0 40px 0;
    font-size: 25px;
    line-height: 30px;
  }
}

@media screen and (max-width: 992.98px) {
  .footer-button-column {
    padding: 30px 0 30px 0;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-button-column {
    padding: 15px 0 15px 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 479.98px) {
  .footer-button-column {
    padding: 10px 0 10px 0;
    font-size: 12px;
    line-height: 16px;
  }
}

.footer-button-column h1 {
  font-weight: 700;
}

.footer-button-column--1 {
  background-color: #333333;
}

.footer-button-column--2 {
  background: #00c8c8;
}

.footer-button-column--2 i {
  margin-right: 50px;
}

.footer-button-column--2 i:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767.98px) {
  .footer-button-column--2 i {
    margin-right: 20px;
  }
  .footer-button-column--2 i:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 479.98px) {
  .footer-button-column--2 i {
    margin-right: 10px;
  }
  .footer-button-column--2 i:last-child {
    margin-right: 0;
  }
}

.footer-bootom {
  padding: 20px 0;
  width: 100%;
  background-color: #333333;
  color: #8e8c8c;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

@media screen and (max-width: 767.98px) {
  .footer-bootom {
    font-size: 10px;
    line-height: 15px;
  }
}

.footer-bootom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bootom-logo i {
  margin-right: 5px;
}

.footer-bootom-logo span {
  vertical-align: super;
  font-size: 10px;
}

@media screen and (max-width: 767.98px) {
  .footer-bootom-logo span {
    font-size: 5px;
  }
}

.footer-bottom-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

.footer-bottom-author p {
  display: inline-block;
}

.footer-bottom-author p:first-child {
  margin-right: 30px;
}

@media screen and (max-width: 767.98px) {
  .footer-bottom-author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-bottom-author p:first-child {
    margin-right: 0;
  }
}
